<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.attribes.olo.kababjees">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- android:name=".Screens.MainApp" -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/kj_app_icon"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme1"
            android:name=".Screens.MainApp" >
        <activity
                android:name=".Screens.SplashScreen"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Screens.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <!-- android:theme="@style/AppTheme -->
        <!-- android:label="@string/title_activity_detail_menu_screen" -->

        <receiver
                android:name=".network.NetworkChangeReceiver"
                android:stopWithTask="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".Screens.ModeSelection"
                android:label="@string/title_activity_mode_selection"
                android:theme="@style/AppTheme1"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
